<% if User.current.allowed_to?(:view_issue_recurrences, @project) %>
  <hr/>
  <div id="issue_recurrences">
    <div class="contextual">
      <% if User.current.allowed_to?(:manage_issue_recurrences, @project) %>
        <%= toggle_link t('.button_details'), 'recurrence-details',
          focus: 'recurrence-details' %>
        |
        <%= toggle_link t(:button_add), 'new-recurrence-form',
          focus: 'recurrence_creation_mode' %>
      <% end %>
    </div>

    <p><strong><%= t('.recurrences') %></strong></p>

    <% if @issue.recurrence_of.present? %>
      <p>
      <%= "#{t('.this_is_recurrence')}: " %>
      <%= link_to "##{@issue.recurrence_of.id} #{@issue.recurrence_of.subject}",
        issue_path(@issue.recurrence_of) %>
      </p>
    <% end %>

    <div id="recurrences">
      <%= render partial: 'issues/recurrences/index' %>
    </div>

    <div id="recurrence-details">
      <%= render partial: 'issues/recurrences/details' %>
    </div>

    <% if User.current.allowed_to?(:manage_issue_recurrences, @project) %>
      <div id='recurrence-errors'>
        <%= error_messages_for 'recurrence' %>
      </div>

      <%= render partial: 'issues/recurrences/form' %>
    <% end %>
  </div>
<% end %>
