<% if User.current.allowed_to?(:view_issue_recurrences, @project) %>
  <hr/>
  <div id="issue_recurrences">
    <div class="contextual">
      <% if User.current.allowed_to?(:manage_issue_recurrences, @project) %>
        <%= link_to t(:button_add), new_issue_recurrence_path(@issue), remote: true %>
      <% end %>
    </div>

    <p><strong><%= t('.recurrences') %></strong></p>

    <% if @issue.recurrence_of.present? %>
      <p>
      <%= "#{t('.this_is_recurrence')} " %>
      <%= link_to "##{@issue.recurrence_of.id}: #{@issue.recurrence_of.subject}",
        issue_path(@issue.recurrence_of) %>
      </p>
    <% end %>

    <div id="recurrences">
      <%= render partial: 'issues/recurrences/index' %>
    </div>

    <div id="new-recurrence"></div>
  </div>
<% end %>
