<%= form_for @recurrence, :remote => true,
  :url => issue_recurrences_path(@issue),
  :html => {:id => 'new-recurrence-form', :style => 'display: none;'},
  :as => :recurrence do |f| %>

  <%= error_messages_for 'recurrence' %>

  <p>
    <%= f.select :creation_mode, creation_mode_options %>
    <%= f.select :include_subtasks,
      [[t('.including_subtasks'), true], [t('.excluding_subtasks'), false]] %>
    <%= t '.every' %>
    <%= f.number_field :multiplier, min: 1, step: 1, value: 1 %>
    <%= f.select :mode, mode_options %>
  </p>
  <p>
    <%= t '.relative_to' %>
    <% options, selected, disabled = anchor_mode_options %>
    <%= f.select :anchor_mode, options, selected: selected, disabled: disabled %>
  <%= "#{sanitize(t('.until'), tags:{})}:" %>
  </p>
  <p>
    <%= label_tag do %>
      <%= radio_button_tag 'limit_mode', 'never', true %>
      <%= t '.forever' %>
    <% end %>
  </p>
  <p>
    <%= label_tag do %>
      <%= radio_button_tag 'limit_mode', 'user_date', false %>
      <%= t '.user_date' %>
      <%= f.date_field :date_limit, disabled: true, min: Date.current,
        value: Date.current.next_month %>
    <% end %>
  </p>
  <p>
    <%= label_tag do %>
      <%= radio_button_tag 'limit_mode', 'user_count', false %>
      <%= f.number_field :count_limit, disabled: true, min: 1, step: 1, value: 1 %>
      <%= t '.recurrences' %>
    <% end %>
  </p>

  <p>
    <%= submit_tag l(:button_add) %>
    <%= link_to_function l(:button_cancel), '$("#new-recurrence-form").hide();' %>
  </p>
<% end %>

<%= javascript_tag do %>
  $('#new-recurrence-form').on('click', 'label [name="limit_mode"]',
    function(e) {
      $('#recurrence_date_limit').prop(
        'disabled',
        !$('#limit_mode_user_date').prop('checked')
      );
      $('#recurrence_count_limit').prop(
        'disabled',
        !$('#limit_mode_user_count').prop('checked')
      );
    }
  );
<% end %>
