<% if @recurrences.present? %>
  <table class="list odd-even">
    <% @recurrences.each do |r| %>
      <% if r.visible? %>
        <tr id="recurrence-<%= r.id %>" class="<%= cycle('odd', 'even') %>">
          <td class="description"><%= r.to_s %></td>
          <td class="description"><%= last_recurrence(r) %></td>
          <td class="description">
            <p id="next"><nobr><%= next_recurrences(@next_dates[r]) %></nobr></p>
            <p id="predicted">
              <nobr><%= predicted_recurrences(@predicted_dates[r]) %></nobr>
            </p>
          </td>
          <% if r.editable? %>
            <td class="buttons"><%= edit_button(r) %><%= delete_button(r) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <% reset_cycle %>
  </table>
<% end %>
