<% if @recurrences.present? %>
  <table class="list odd-even">
    <% @recurrences.each do |recurrence| %>
      <% if recurrence.visible? %>
        <tr id="recurrence-<%= recurrence.id %>" class="<%= cycle('odd', 'even') %>">
          <td class="description"><%= recurrence.to_s %></td>
          <td class="description">
            <p><%= last_recurrence(recurrence) %></p>
            <p><%= next_recurrence_date(recurrence) %></p>
          </td>
          <td class="buttons"><%= delete_button(recurrence) %></td>
        </tr>
      <% end %>
    <% end %>
    <% reset_cycle %>
  </table>
<% end %>
