<p>
<%= label_tag :settings_author_id, t('.author') %>
<%= select_tag 'settings[author_id]', authors(@settings[:author_login]) %>
</p>
<p>
<%= label_tag :settings_keep_assignee, t('.keep_assignee') %>
<%= check_box_tag 'settings[keep_assignee]', true, @settings[:keep_assignee] %>
<em class="info"><%= t('.keep_assignee_hint') %></em>
</p>
<p>
<%= label_tag :settings_journal_mode, t('.journal_mode') %>
<%= select_tag 'settings[journal_mode]', journal_mode_options(@settings[:journal_mode]) %>
<em class="info"><%= t('.journal_mode_hint') %></em>
</p>
<p>
<%= label_tag :settings_copy_recurrences, t('.copy_recurrences') %>
<%= check_box_tag 'settings[copy_recurrences]', true, @settings[:copy_recurrences] %>
<em class="info"><%= t('.copy_recurrences_hint') %></em>
</p>
<p>
<%= label_tag :settings_renew_ahead, t('.renew_ahead') %>
<%= number_field_tag 'settings[ahead_multiplier]', @settings[:ahead_multiplier], min: 0,
  step: 1, size: 3 %>
<%= select_tag 'settings[ahead_mode]', ahead_mode_options(@settings[:ahead_mode]) %>
<em class="info"><%= t('.renew_ahead_hint') %></em>
</p>
